@font-face {
    font-family: "comfortaa";
    src: url(../../fonts/Comfortaa-VariableFont_wght.ttf);
}

$font-1: "Rampart One", sans-serif;

$comfortaa: "comfortaa";

$gold: #c0955e;
$darken-green: #2d5561;
$green: #178976;
$cream: #f4e8dc;
