header {
	display: flex;
	justify-content: flex-end;
}
nav {
	position: fixed;
	height: 80px;
	top: 0;
	background-color: #111;
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			display: block;
			cursor: pointer;
			font-size: 20px;
			text-align: center;
			color: white;
			transition: all 0.5s;
			&:hover {
				transform: translateY(-3px);
			}
		}
	}
}

@media screen and (max-width: 960px) {
	nav {
		justify-content: center;
		height: 100vh;
		width: 100%;
		background-color: rgba(17, 17, 17, 0.9);
		transform: translateY(-100%);
		transition: all 0.3s ease-in-out;
		&.is-open {
			transform: translateY(0);
		}
		.logo {
			display: block;
		}
		ul {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-evenly;
			height: 100%;
			li {
				display: block;
				width: 100%;
				a {
					margin: 5px 0;
					font-size: 24px;
				}
			}
		}
	}
	.is-open {
		transform: translateY(100%);
	}
}
